@import '_reset.scss';
@import '_fonts.scss';
@import '_variables.scss';


#wrapper {
  overflow-x: hidden;
  position: relative;
}

  .blog__title {
    text-align: center;
    margin-bottom: 25px;

    @media (min-width: 1920px) {
      margin-bottom: 11px;
    }

   h1 {
      font-size: 20px;
      font-family: var(--poppins);
      font-weight: 600;
      text-transform: capitalize;

      a {
        text-decoration: none;
        color: var(--black);
      }

      @media (min-width: 768px) {
        font-size: 40px;
      }

      @media (min-width: 1920px) {
        margin-top: 140px;
        margin-left: -1px;
        font-size: 50px;
      }
    }
    
    p {
      font-size: 12px;
      font-family: var(--poppins);
      line-height: 1.78;

      @media (min-width: 768px) {
        font-size: 18px;
      }

      @media (min-width: 1920px) {
        font-size: 18px;
        font-weight: 500;
        margin-top: 1px;
      }
    }
  }

  .blog__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 25px;

    @media (min-width: 768px) {
      flex-direction: row;
      padding: 0 15px;
      justify-content: space-between;
    }

    @media (min-width: 1920px) {
      justify-content: center;
      margin-bottom: 55px;
    }


    .blog__column {
      display: flex;
      flex-direction: column;
      background-color: #f6f6f6;
      
      @media (min-width: 768px) {
        margin-right: 15px;
        width: calc(33.332% - 15px);
        justify-content: space-between;
      }

      @media (min-width: 1920px) {
        margin-top: 59px;
        justify-content: unset;
        padding-bottom: 15px;
      }

      &:first-child {

        h3 {
          @media (min-width: 1920px) {
            margin-top: 22px;
            margin-left: 23px;
          }
        }
      }

      &:last-child {
        margin-right: 0;

        h3 {
          @media (min-width: 1920px) {
            margin-top: 21px;
            margin-left: 34px;
            font-size: 19px;
          }
        }
      }


      img {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @media (min-width: 1920px) {

        }
      }

      h3 {
        font-family: var(--poppins);
        text-transform: uppercase;
        max-width: 320px;
        max-height: 75px;
        margin: 12px;

        @media (min-width: 1920px) {
          margin-top: 20px;
          margin-left: 30px;
        }

        a {
          text-decoration: none;
          color: var(--black);
        }
      }
      
        p {
          font-family: var(--poppins);
          font-size: 20px;
          font-weight: 600;
          text-transform: uppercase;

          @media (min-width: 1920px) {
            font-size: 16px;
            line-height: 1.3;
            padding-left: 19px;
          }
        }


      .blog__footer {
        display: flex;
        font-family: var(--poppins);
        padding: 10px;
        justify-content: space-around;
        margin-top: 62px;

        @media (min-width: 1920px) {
          margin-top: 56px;
          padding: unset;
          justify-content: unset;
          align-items: baseline;
        }

            p {
              font-family: var(--poppins);
              font-size: 13px;
              text-transform: capitalize;
              color: #ff3c2d;
              position: relative;

              &::before {
                position: absolute;
                content: '';
                background: url(../assets/CommIcon.png);
                width: 20px;
                height: 18px;
                left: -30px;

                
                @media (min-width: 1920px) {
                  left: -12px;
                }
              }

              @media (min-width: 1920px) {
                margin-left: 32px;
                margin-top: 7px;
                margin-right: 129px;
                font-size: 15px;
              }
            }
      }
    }
  }

  button {
    transition: background .3s linear;
    text-align: center;
    background: var(--lightRed);
    font-family: var(--poppins);
    text-transform: capitalize;
    color: var(--white);
    text-decoration: none;
    border: none;
    width: 120px;
    height: 35px;
    font-size: 16px;
    border-radius: 3px;
    padding-top: 5px;
    display: block;
    margin: 0 auto;
    
                    
    @media (min-width: 1920px) {
      width: 212px;
      height: 45px;
    }

    &:hover {
      cursor: pointer;
      background: darken(#ff3c2d, 20%);
      
    }
  
  
  }
