    $purple: #680668;
    $purple2: #483D8B;
    $active: #191970;

    %browser {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            padding: 20px 40px;
            min-height: 200px;
            background-color: $purple2
    }

#wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: $purple;
}

h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}

.main__child {
    display: flex;
    flex-wrap: wrap;

    &__blocks {
        display: flex;
        width: 100%;
        flex-direction: column;

        @media (min-width: 580px) {
            width: 70%;
            padding-right: 20px;
        }

        @media (min-width: 846px) {
            width: 80%;
            padding-right: 20px;
            flex-direction: row;
        }
        
        &__blocks1 {
            @extend %browser;

            &:hover {
                transition: all .5s;
                transform: scale(1.1);
                font-size: 30px;
                cursor: pointer;
            }

            &:active {
                background-color: $active;
            }

            @media (min-width: 846px) {
                width: 50%;
            }
        }

        &__blocks2 {
            @extend %browser;

            &:hover {
                transition: all .5s;
                transform: scale(1.1);
                font-size: 30px;
                cursor: pointer;
            }

            &:active {
                background-color: $active;
            }

            @media (min-width: 846px) {
                width: 50%;
            }
        }

    }

    &__sidebar {
        display: flex;
        padding: 10px 15px;
        border: 1px solid black;
        width: 100%;

        
        h2 {
            font-size: 20px;
            margin-bottom: 5px;
        }

        @media (min-width: 580px) {
            width: 30%;
        }

        @media (min-width: 846px) {
            width: 20%;
            flex-direction: row;
        } 
    }
}
