.main__card {
    @media (max-width: 578px) {
        flex-wrap: wrap;
    }
    
    .card {
        @media (max-width: 578px) {
            width: 100% !important;
        }
    }
}

.d-block {
    height: 150px;
    object-fit: cover;
}

.card-img-top {
    height: 30rem;
    object-fit: cover;

    @media (max-width: 578px) {
        height: 42rem;
    }
}





