$poppins: 'Poppins', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$roboto:'Roboto', sans-serif;
$nunito: 'Nunito Sans', sans-serif;
$LightGray: #ebebeb;
$MidGray: #808080;
$DarkGray: #696969;
$ultragray: #f8f9f9;
$Blue: #4a5c72;
$white: #fff;
$black: #000;
$red: #8B0000;
$lightRed: #ff3c2d;
$cyan: #10c9c3;
  